# Ignore macOS system files
.DS_Store

# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore build or temp directories
build/
tmp/

.devcontainer/
.vscode/
openvino_env/
torch_compile_debug/

*.json
*.txt
*.gz
*.sh
*.onnx